body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

/* label {
  display: inline-block;
  width: 160px;
  color: white;
} */

input {
  /* margin-left: 20px; */
  /* display: inline-flex; */
  max-width: 60px;
  color: white;
  background-color: #2d2e2f;
}

.nav-bar {
  width: 100vw;
  padding: 10px;
  background-color: #1b1c1d;
  color: white;
  border-bottom: solid, #2d2e2f;
}

.gen-box {
  width: 100%;
  padding: 10px;
  background-color: #1b1c1d;
  color: white;
}

.gen-bubble {
  border-radius: 20px;
  border: #2d2e2f;
  border-style: solid;
  border-width: 3px;
}

.landingContainer {
  height: 1000px;
}

.landingBox {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 10px;
  color: white;
  text-align: center;
}

.backBoard {
  background-color: #1b1c1d;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.parallax {
  /* The image used */
  background-image: url("images/london-background.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.slider-box {
  width: 100%;
  display: inline-flex;
  height: 20px;
}

.disabled {
  color: #2d2e2f;
}

.checkbox-box {
  border-radius: 15px;
  border: solid;
  border-color: #2d2e2f;
  border-width: 2px;
  padding: 20px;
}

.selector {
  color: black
}
