body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

/* label {
  display: inline-block;
  width: 160px;
  color: white;
} */

input {
  /* margin-left: 20px; */
  /* display: inline-flex; */
  max-width: 60px;
  color: white;
  background-color: #2d2e2f;
}

.nav-bar {
  width: 100vw;
  padding: 10px;
  background-color: #1b1c1d;
  color: white;
  border-bottom: solid, #2d2e2f;
}

.gen-box {
  width: 100%;
  padding: 10px;
  background-color: #1b1c1d;
  color: white;
}

.gen-bubble {
  border-radius: 20px;
  border: #2d2e2f;
  border-style: solid;
  border-width: 3px;
}

.landingContainer {
  height: 1000px;
}

.landingBox {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 10px;
  color: white;
  text-align: center;
}

.backBoard {
  background-color: #1b1c1d;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.parallax {
  /* The image used */
  background-image: url("images/london-background.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.slider-box {
  width: 100%;
  display: inline-flex;
  height: 20px;
}

.disabled {
  color: #2d2e2f;
}

.checkbox-box {
  border-radius: 15px;
  border: solid;
  border-color: #2d2e2f;
  border-width: 2px;
  padding: 20px;
}

.selector {
  color: black;
}

table,
th,
td {
  border: 1px solid #2d2e2f;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}

.list-item-1 {
  color: #0ca800;
}
.list-item-2 {
  color: #23ad00;
}
.list-item-3 {
  color: #3bb200;
}
.list-item-4 {
  color: #53b800;
}
.list-item-5 {
  color: #6bbd00;
}
.list-item-6 {
  color: #83c300;
}
.list-item-7 {
  color: #9ac800;
}
.list-item-8 {
  color: #b2cd00;
}
.list-item-9 {
  color: #cad300;
}
.list-item-10 {
  color: #e2d800;
}
.list-item-11 {
  color: #fade00;
}
.list-item-12 {
  color: #fad200;
}
.list-item-13 {
  color: #fac600;
}
.list-item-14 {
  color: #faba00;
}
.list-item-15 {
  color: #faae00;
}
.list-item-16 {
  color: #faa200;
}
.list-item-17 {
  color: #fa9600;
}
.list-item-18 {
  color: #fa8a00;
}
.list-item-19 {
  color: #fa7e00;
}
.list-item-20 {
  color: #fa7200;
}
.list-item-21 {
  color: #f86a00;
}
.list-item-22 {
  color: #f66300;
}
.list-item-23 {
  color: #f45b00;
}
.list-item-24 {
  color: #f25400;
}
.list-item-25 {
  color: #f04c00;
}
.list-item-26 {
  color: #ee4500;
}
.list-item-27 {
  color: #ec3d00;
}
.list-item-28 {
  color: #ea3600;
}
.list-item-29 {
  color: #e82e00;
}
.list-item-30 {
  color: #e62700;
}
